.idea/
.vault_pass
**/vault
/vars/downloads/*
!/vars/downloads/.gitkeep
**/db.json
/vars/postgresql/*.csv
/vars/postgresql/import_sku_data.sql
/vars/postgresql/import_st_data.sql
/vars/python/__pycache__/*